workflow-telegram-chatbot.json
{
  "name": "Desafio2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "939a4b55-fea5-43a9-bfef-a6e20c7d0b9a",
      "name": "Telegram Trigger",
      "webhookId": "002942e9-e8ce-42b4-9052-f337551239c1",
      "credentials": {
        "telegramApi": {
          "id": "tvYZz7tXa57d6dSq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.queue }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            },
            {
              "name": "appid",
              "value": "OPENWEATHER_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        0
      ],
      "id": "9d8dc553-2979-45ea-9a93-dbf94a8024e6",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b020e0d-baa4-407e-a149-95a2aed8c372",
              "name": "queue",
              "value": "={{ $json.message.text.split(',')[0].trim().toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/\\s[a-z]{2}$/i, \"\").trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        0
      ],
      "id": "2844982f-5a74-4a20-8821-a3bd39489476",
      "name": "format da entrada"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da4ff5b3-8460-496d-9fed-4b8c974f1d8b",
              "leftValue": "={{ $json.cod == 200 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        0
      ],
      "id": "3222bc15-80e6-45c9-9d2c-083a582b7b32",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "={{ $json.content.parts[0].text ||  $('format dos dados').item.json.mensagem }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        -272
      ],
      "id": "9c4f4c23-d24f-47ba-98b7-d2e76655f71f",
      "name": "Send a text message",
      "webhookId": "136eec58-906c-4576-98a7-6c9147db69d7",
      "credentials": {
        "telegramApi": {
          "id": "tvYZz7tXa57d6dSq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "={{ $json.textoFinal }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        192
      ],
      "id": "cc495716-cc51-40b4-bf07-ef3bcac5bc27",
      "name": "Send a text message1",
      "webhookId": "13e452d9-c869-4869-964b-2f3d56b52ffe",
      "credentials": {
        "telegramApi": {
          "id": "tvYZz7tXa57d6dSq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c84195ef-c5f4-42ab-899a-d21ddcb9226d",
              "name": "textoFinal",
              "value": "❌ Cidade não encontrada. Informe o nome da cidade de preferencia com o formato CIdade. UF (ex: São Paulo, SP).",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        192
      ],
      "id": "41987d02-e09e-42bd-a696-48329401f65c",
      "name": "Rota de Erro"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um assistente meteorológico. Receba os dados de clima e reescreva a mensagem de forma natural, em um bom tom, em português e sem desambiguação.",
              "role": "model"
            },
            {
              "content": "=Com base na cidade {{ $json.name }} e na temperatura {{ $json.main.temp }}, arredonde a temperatura e escreva apenas uma frase simples com essas informações. Coloque um emoji antes da frase que simboliza a palavra dessa variável: {{ $json.weather[0].main }}"
            }
          ]
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        800,
        -128
      ],
      "id": "8d082181-adbe-4817-84f8-549b14359150",
      "name": "Message a model",
      "alwaysOutputData": false,
      "credentials": {
        "googlePalmApi": {
          "id": "8fqmHfMU1ZtPQkK2",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const city = $input.first().json.name;\nconst temp = $input.first().json.main.temp ; \n\nreturn {\n  message: ` A temperatura em ${city} é de ${temp}°C.`,\n  ok: true,\n  raw_data: { city, temp } // Enviamos isso para o Gemini processar\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -16
      ],
      "id": "51e823c3-7db7-46dd-b25f-c0da99b5952f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1392,
        -16
      ],
      "id": "315015de-841e-4afb-9879-5e21ab37bf4e",
      "name": "Send a text message2",
      "webhookId": "96c7a512-93c4-4ac4-9505-f85403d0e377",
      "credentials": {
        "telegramApi": {
          "id": "tvYZz7tXa57d6dSq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "format da entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format da entrada": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rota de Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Rota de Erro": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87b2144e-6398-40c0-a8ad-a8f8d8003896",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e69765c37f8d1c12ac33a3f738811ea0671fc0fcaf8d8dae47a10337236028a"
  },
  "id": "ZTB323UeiBC6FR9h",
  "tags": []
}