workflow-telegram-chatbot.json
{
  "name": "Desafio2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        -16
      ],
      "id": "939a4b55-fea5-43a9-bfef-a6e20c7d0b9a",
      "name": "Telegram Trigger",
      "webhookId": "002942e9-e8ce-42b4-9052-f337551239c1",
      "credentials": {
        "telegramApi": {
          "id": "tvYZz7tXa57d6dSq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openweathermap.org/data/2.5/weather",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.queue }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        -64
      ],
      "id": "9d8dc553-2979-45ea-9a93-dbf94a8024e6",
      "name": "HTTP Request",
      "credentials": {
        "httpQueryAuth": {
          "id": "WtTl5fowmBF8Ws8k",
          "name": "OpenWeather API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b020e0d-baa4-407e-a149-95a2aed8c372",
              "name": "queue",
              "value": "={{ $json.message.text.split(/[,\\-]/)[0].trim().toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/\\s[a-z]{2}$/i, \"\").trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        -16
      ],
      "id": "2844982f-5a74-4a20-8821-a3bd39489476",
      "name": "format da entrada"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da4ff5b3-8460-496d-9fed-4b8c974f1d8b",
              "leftValue": "={{ $json.cod == 200 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "a9af2db6-8f56-4204-85da-0df031dbba6b",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "12106741-cfa0-4801-a697-3403ed0894d9",
              "leftValue": "={{ $json.main.temp }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        16
      ],
      "id": "3222bc15-80e6-45c9-9d2c-083a582b7b32",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "={{$json.textoFinal || $json.message || $json.content.parts[0].text  }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1472,
        64
      ],
      "id": "9c4f4c23-d24f-47ba-98b7-d2e76655f71f",
      "name": "Send a text message",
      "webhookId": "136eec58-906c-4576-98a7-6c9147db69d7",
      "credentials": {
        "telegramApi": {
          "id": "tvYZz7tXa57d6dSq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c84195ef-c5f4-42ab-899a-d21ddcb9226d",
              "name": "textoFinal",
              "value": "❌ Cidade não encontrada. Informe o nome da cidade de preferencia com o formato Cidade, UF (ex: São Paulo, SP).",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        240
      ],
      "id": "41987d02-e09e-42bd-a696-48329401f65c",
      "name": "Rota de Erro"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um assistente meteorológico. Receba os dados de clima e reescreva a mensagem de forma natural, em um bom tom, em português e com desambiguação.",
              "role": "model"
            },
            {
              "content": "=Com base na cidade {{ $json.name }} e na temperatura {{ $json.main.temp }} °C, arredonde a temperatura e escreva apenas uma frase simples com essas informações. Coloque um emoji antes da frase, que simboliza o ícone meteorológico do OpenWeatherMap: {{ $json.weather[0].icon }} "
            }
          ]
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        784,
        -128
      ],
      "id": "8d082181-adbe-4817-84f8-549b14359150",
      "name": "Message a model",
      "alwaysOutputData": false,
      "credentials": {
        "googlePalmApi": {
          "id": "8fqmHfMU1ZtPQkK2",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const city = $input.first().json.name;\nconst temp = Math.round($input.first().json.main.temp) ; \n\nreturn {\n  message: ` A temperatura em ${city} é de ${temp}°C.`,\n  ok: true,\n  raw_data: { city, temp } // Enviamos isso para o Gemini processar\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        48
      ],
      "id": "51e823c3-7db7-46dd-b25f-c0da99b5952f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1264,
        48
      ],
      "id": "09dfb4ab-ac86-4696-901b-213fcadb0641",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "Informe o nome da cidade de preferencia com o formato Cidade, UF (ex: São Paulo, SP).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        144
      ],
      "id": "1c994232-bdbe-4cc8-bc68-2f24c5c3af0e",
      "name": "feedback imediato",
      "webhookId": "20fc5ef2-629b-435a-9c09-9c32727634b0",
      "credentials": {
        "telegramApi": {
          "id": "tvYZz7tXa57d6dSq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "99e185b8-9c61-4dbc-ac28-76243c60b67e",
              "leftValue": "={{ $json.queue }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "76840e0b-53eb-4bd6-a4b0-8a942eabf1a6",
              "leftValue": "={{ $json.queue.length }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "0bcc12ab-988d-46f2-be38-b1e8338556ae",
              "leftValue": "={{ $json.queue }}",
              "rightValue": "ola",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "ee1eb0c4-18e4-4d59-a640-355f455ca470",
              "leftValue": "={{ $json.queue }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        0
      ],
      "id": "659b9051-06c3-4966-80a0-cc0f1dc65cd0",
      "name": "If filtro"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "format da entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format da entrada": {
      "main": [
        [
          {
            "node": "If filtro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rota de Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Rota de Erro": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "feedback imediato": {
      "main": [
        []
      ]
    },
    "If filtro": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "feedback imediato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f9f7183d-90d5-4826-a5af-8dbd6cae6fae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e69765c37f8d1c12ac33a3f738811ea0671fc0fcaf8d8dae47a10337236028a"
  },
  "id": "ZTB323UeiBC6FR9h",
  "tags": []
}
